<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <section class="sub-header">
            <nav>
                <a href="http://127.0.0.1:8000/home/"><img src="/static/images/logo.jpg"></a>
                <div class="nav-links">
                    <ul>
                         <li><a href="http://127.0.0.1:8000/home/">HOME</a></li>
                        <li><a href="http://127.0.0.1:8000/cardetail/">CARS</a></li>
                        <li><a href="http://127.0.0.1:8000/booking/">BOOKING</a></li>
                        <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:8000/mainhome/">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
            <h1>About Us</h1>
</section>

    <p>Kings Rental Cars was established in 2021. The idea of creation came to the founder when he was dissatisfied with the car rental in offline mode than he decided that the service needed to be modernized. At first, the company had only 3 cars in its fleet. Today it has 49 cars, among which there are such as Lamborghini Aventador S Roadster, Ferrari 812 Superfast, McLaren 720S. Today, Kings Rental Cars can safely speak of itself as an organization that provides customers with premium cars for rent and guarantees a high level of service.
        <br>
We solve the issues of comfortable movement in all cities of the India

We are ready to offer both a car rental service with a personal driver and a comfortable transfer from the airport. With us you can organize personal and business trips. All cars of the company are insured. You can familiarize yourself with the rental conditions on the pages of the site.

It is important for us to fulfill all customer requests. For this reason, we have collected cars in the fleet for those who prefer restraint or want to stand out and emphasize their high social status.

We offer:

• dynamic sports cars;
• powerful off-road vehicles;
• business class models.

Customer support is provided 24/7. At any time you can contact us and get help. This applies not only to technical issues, but also situations in which special accuracy and delicacy is required - for example, disputes involving the local police. We always act on the client's side and try to find a solution that will be beneficial to him.

We try to make the best impression on the client and we hope that, once using our services, you will contact us for car rental the next time you visit India. The company offers beneficial discounts and useful additional services. You can also rent a car with an experienced driver who is well-versed on the streets of India and on suburban roads. </p>
    <p>Our head builds free brand-based online ordering websites for our restaurant partners,including an About Us section.
Our associates, like senior graphic designer, have experience in helping our clients highlights interesting and
informative content to include on their websites.</p>

    <h2>Kings Rental Cars Customer Club</h2><br>

All members of our club receive a membership card and:<br>

• Priority car booking.<br>
• Personal discount for the entire vehicle fleet in the amount of 10%.<br>
• Round-the-clock support on any issues (including conflict situations with the local police).<br>
• Discounts for booking the car in your location up to 20%.<br>
• Informing about the best events in your location.<br>
• Assistance in booking yachts.</h2>


<section class="footer">
    <p>We are happy beacause We make your drive memorable</p>
    <p>In the close proximity from our rentals you can enjoy a trip, tourist place.</p>
</section>
</body>
</html>