<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/table.css">
    <title>Book a Car</title>
</head>
<body>
<section class="sub-header">
            <nav>
                <a href="http://127.0.0.1:8000/home/"><img src="/static/images/logo.jpg"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/home/">HOME</a></li>
                        <li><a href="http://127.0.0.1:8000/cardetail/">CARS</a></li>
                        <li><a href="http://127.0.0.1:8000/booking/">BOOKING</a></li>
                        <li><a href="http://127.0.0.1:8000/feedback/">Feedback</a></li>
                        <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:8000/mainhome/">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
</section>


 <form action="{% url 'getdetails' %}" action="{% url 'email' %}"   method="POST" id="details">
      {% csrf_token %}
<div class="container">


            <div class="container-time">
                <h2 class="heading">Person Details</h2>
                <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" name="Fname"   class="form-control p-4" placeholder="First Name" required="required">
                            </div><br>
                    <br>
                            <div class="col-6 form-group">
                                <input type="text" class="form-control p-4" placeholder="Last Name" required="required" name="Lname">
                            </div><br><br>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="email" class="form-control p-4" placeholder="Your Email" required="required" name="email">
                            </div><br><br>
                            <div class="col-6 form-group">
                                <input type="number" class="form-control p-4" placeholder="Mobile Number" maxlength="10" required="required" name="phno">
                            </div><br><br>
                        </div>
                    </div>

           <div class="container-form">
                    <h2 class="heading heading-yellow">Booking Detail</h2>
                       <div class="form-fields">
                        <p>Pick-up Location</p>
                        <select name="pick" id="#">
                            <option value="Chennai">Chennai</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Vijayawada">Vijayawada</option>
                            <option value="Vishakhapatnam">Vishakhapatnam</option>
                        </select>
                    </div>

                     <div class="form-fields">
                        <p>Drop Location</p>
                        <select name="drop" id="$">
                            <option value="Chennai">Chennai</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Vijayawada">Vijayawada</option>
                            <option value="Vishakapatanam">Vishakhapatnam</option>
                        </select>
                    </div>


                    <div class="form-fields">
                        <p>Pick-Up Date & Time</p>
                        <input type="date" name="date">
                        <input type="time" name="time">

                    </div>

                     <div class="form-fields">
                        <p>Adults</p>
                        <select name="adult" id="!">
                            <option value="1">1-adult</option>
                            <option value="2">2-adult</option>
                            <option value="3">3-adult</option>
                            <option value="4">4-adult</option>
                        </select>
                    </div>

                     <div class="form-fields">
                        <p>Child</p>
                        <select name="child" id="@">
                            <option value="1">1-Child</option>
                            <option value="2">2-Child</option>
                            <option value="3">3-Child</option>
                            <option value="4">4-Child</option>
                        </select>
                    </div>

                  <!--  <div class="form-group">
                            <textarea class="form-control py-3 px-4" rows="3" placeholder="Type of car " required="required"></textarea>
                        </div>-->


                    <div class="form-fields">
                        <p>Car</p>
                        <select name="car" id="*">
                            <option value="1">Toofan</option>
                            <option value="2">Baleno</option>
                            <option value="3">Mahindra-XUV-500</option>
                            <option value="4">Swift</option>
                            <option value="5">Toyoto-Innova</option>
                            <option value="6">Grand I20</option>
                            <option value="7">Tata-Tiago</option>
                            <option value="8">Tata-Bolt</option>
                            <option value="9">Tata-Nano</option>
                        </select>
                    </div>

                    <div class="form-fields">
                        <p>Payment</p>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" required>
                                <label class="custom-control-label" for="paypal">razorpay</label>
                            </div>


                    <button class ="btn"><a href="https://rzp.io/l/VCL5Lr8">Reserve Now</a></button>
            </div>
        </div>
    </div>
     </form>

</body>
</html>