<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
<section class="sub-header">
            <nav>
          <a href="http://127.0.0.1:8000/home/"><img src="/static/images/logo.jpg"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/home/">HOME</a></li>
                        <li><a href="http://127.0.0.1:8000/cardetail/">CARS</a></li>
                        <li><a href="http://127.0.0.1:8000/booking/">BOOKING</a></li>
                        <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:8000/mainhome/">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
</section>


  <div class="main">
            <div class="section-title">
                <h2>A Car For You</h2>
                <p>Dont borrow a car,Make it your own</p>

            </div>
            <div class="menus">
                <div class="menu-column">
                    <div class="single-menu">
                        <img src="/static/images/car-rent-7.png">
                        <div class="menu-content">
                            <h4>Toofan</h4>
                            <h5>Year<span>2015</span></h5>
                            <h5>Manual</h5><h5>Petrol</h5><h5>20.43k kms driven</h5>
                            <h5>Price<span>&#8377;3000/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>
                        </div>
                    </div>
                    <div class="single-menu">
                        <img src="/static/images/car-rent-1.png">
                        <div class="menu-content" >
                            <h4>Swift</h4>
                            <h5>Year<span>2019</span></h5>
                            <h5>Manual</h5><h5>Petrol</h5><h5>20.97k kms driven</h5>
                             <h5>Price<span>&#8377;5000/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>

                        </div>
                    </div>
                    <div class="single-menu">
                        <img src="/static/images/car-rent-2.png">
                        <div class="menu-content">
                            <h4>Tata-Tiago</h4>
                            <h5>Year<span>2017</span></h5>
                            <h5>Manual</h5>
                            <h5>Petrol</h5>
                            <h5>24.23k kms driven</h5>
                             <h5>Price<span>&#8377;5000/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>
                        </div>
                    </div>
                </div>

                <div class="menu-column">
                    <div class="single-menu">
                        <img src="/static/images/car-rent-3.png">
                        <div class="menu-content">
                            <h4>Baleno</h4>
                            <h5>Year<span>2018</span></h5>
                            <h5>Manual</h5>
                            <h5>Petrol</h5>
                            <h5>36.87k kms driven</h5>
                            <h5>Price<span>&#8377;5000/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>
                        </div>
                    </div>
                    <div class="single-menu">
                        <img src="/static/images/car-rent-4.png">
                        <div class="menu-content">
                            <h4>Toyoto-Innova</h4>
                            <h5>Year<span>2017</span></h5>
                            <h5>Manual</h5>
                            <h5>Petrol</h5>
                            <h5>15k kms driven</h5>
                             <h5>Price<span>&#8377;7500/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"><button class ="btn">Book</button></a>
                        </div>
                    </div>
                    <div class="single-menu">
                        <img src="/static/images/car-rent-5.png">
                        <div class="menu-content">
                            <h4>Tata-Bolt</h4>
                            <h5>Year<span>2014</span></h5>
                            <h5>Manual</h5>
                            <h5>Petrol</h5>
                            <h5>29.456k kms driven</h5>
                            <h5>Price<span>&#8377;4500/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>
                        </div>
                    </div>
                </div>
                <div class="menu-column">
                    <div class="single-menu">
                        <img src="/static/images/car-rent-6.png">
                        <div class="menu-content">
                            <h4>Mahindra-XUV-500</h4>
                            <h5>Year<span>2019</span></h5>
                            <h5>Manual</h5>
                            <h5>Petrol</h5>
                            <h5>40k kms driven</h5>
                            <h5>Price<span>&#8377;7500/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>
                        </div>
                    </div>
                    <div class="single-menu">
                        <img src="/static/images/car-rent-8.png">
                        <div class="menu-content">
                            <h4>Grand i20</h4>
                            <h5>Year<span>2018</span></h5>
                            <h5>Manual</h5><h5>Petrol</h5><h5>20.43k kms driven</h5>
                            <h5>Price<span>&#8377;5500/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Book</button></a>
                        </div>
                    </div>
                    <div class="single-menu">

                        <img src="/static/images/car-rent-9.png">
                        <div class="menu-content">
                            <h4>Tata Nano</h4>
                            <h5>Year<span>2016</span></h5>
                            <h5>Manual</h5>
                            <h5>Petrol</h5>
                            <h5>10.43k kms driven</h5>
                            <h5>Price<span>&#8377;2500/day</span></h5>
                            <a href="http://127.0.0.1:8000/booking/"> <button class ="btn">Submit</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<section class="footer">
    <p>We are happy beacause We make your drive memorable</p>
    <p>In the close proximity from our rentals you can enjoy a trip, tourist place.</p>
</section>
</body>
</html>
