<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <title>CONTACT US</title>
</head>
<body>
<section class="sub-header">
             <nav>
               <a href="http://127.0.0.1:8000/home/"><img src="/static/images/logo.jpg"></a>
                <div class="nav-links">
                    <ul>
                         <li><a href="http://127.0.0.1:8000/home/">HOME</a></li>
                        <li><a href="http://127.0.0.1:8000/cardetail/">CARS</a></li>
                        <li><a href="http://127.0.0.1:8000/booking/">BOOKING</a></li>
                         <li><a href="http://127.0.0.1:8000/feedback/">Feedback</a></li>
                        <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:8000/mainhome/">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
</section>

<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.088998323324!2d78.51203131479589!3d17.35944998809531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99aa136f6119%3A0xa47721bb8567fdbe!2sKing%E2%80%99s%20car%20rentals!5e0!3m2!1sen!2sin!4v1667597219093!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
 <div class="container">
            <div class="container-time">
                <h2 class="heading">Our Support</h2>
                <h3 class="heading-days">Monday-Saturday</h3>
                <p>24/7 customer support</p>


                <h3 class="heading-days">Sunday</h3>
                <p>From 8am-10pm</p>
                <hr>
                <h4>Alaways for You</h4>
                <h4 class="heading-phone">Call Us:1800 253 7689<br>Email Us:kingsrental@gmail.com</h4>

            </div>
            <div class="container-form">
                 <form action="{% url 'getcontact' %}" method="POST" id="details">
                        {% csrf_token %}
                    <h2 class="heading heading-yellow">Contact</h2>

                    <div class="form-fields">
                        <p>Your Name</p>
                        <input type="text" placeholder="Your Name" name="name">
                    </div>
                    <div class="form-fields">
                        <p>Your E-mail</p>
                        <input type="email" placeholder="Your E-mail" name="email">
                    </div>
                    <div class="form-fields">
                        <p>Issue</p>
                        <textarea placeholder="Enter Your Issue" name="issue"></textarea>
                    </div>

                    <div class="form-fields">
                        <p>Location</p>
                        <select name="location" id="#">
                            <option value="Chennai">Chennai</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Vijayawada">Vijayawada</option>
                            <option value="Vishakhapatnam">Vishakhapatnam</option>
                        </select>
                    </div>

                    <button class ="btn">Submit</button>
                </form>
            </div>
        </div>


 <!-- <section class="contact-us">
    <a href="contact.html"><img src="/static/images/address.jpg"></a>
  </section>-->
<section class="footer">
   <p>We are happy beacause We make your drive memorable</p>
    <p>In the close proximity from our rentals you can enjoy a trip, tourist place.</p>
</section>
</body>
</html>