<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/main.css">

    <title>King Car Rentals</title>
</head>
<body>

    <section class="header">
            <nav>
                <a href="http://127.0.0.1:8000/home/"><img src="/static/images/logo.jpg"></a>
                <div class="nav-links">
                    <ul>
                         <li><a href="http://127.0.0.1:8000/home/">HOME</a></li>
                        <li><a href="http://127.0.0.1:8000/cardetail/">CARS</a></li>
                        <li><a href="http://127.0.0.1:8000/booking/">BOOKING</a></li>
                         <li><a href="http://127.0.0.1:8000/feedback/">Feedback</a></li>
                        <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:8000/about/">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:8000/mainhome/">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
    <div class="text-box">
        <h1>King's Car Rentals</h1>
        <h3>Life is Endless Without Travel</h3>
        <a href="http://127.0.0.1:8000/about/" class="hero-btn">Visit Us To Know More</a>
    </div>
</section>
<section class="hotel">
    <h1>Our Branches</h1>
    <p>Enter with a happy heart, leave with a satisfied stomach.</p>
    <div class="row">
        <div class="hotel-col">
            <h3>Hyderabad</h3>
            <p>Street :16-1-28/22, Jaya Nagar, Saidabad, Ranga Reddy District<br>City : Hyderabad<br>State : Telangana<br>Postal Code : 500081</p>
        </div>
        <div class="hotel-col">
            <h3>Vijayawada</h3>
            <p>Street : Hariniwas Circle, Bharat Sahar Road Andheri, Krishna District<br>City : Vijayawada<br>State : Andhra Pradesh<br>Postal Code : 400099</p>
        </div>
        <div class="hotel-col">
            <h3>Vishakhapatnam</h3>
            <p>Street : Wz O/87 Outer Ring Road, 326 J K Chambers Sector, Vishakhapatnam District<br>City : Vishakhapatnam<br>State : Andhra Pradesh<br>Postal Code : 400703</p>
        </div>
    </div>
</section>

<marquee class="scroll" behavior="scroll" direction="left" scrollamount="15">
    <img width="300" height="300" src="/static/images/vendor-1.png">
    <img width="300" height="300" src="/static/images/vendor-2.png">
    <img width="300" height="300" src="/static/images/vendor-3.png">
    <img width="300" height="300" src="/static/images/vendor-4.png">
    <img width="300" height="300" src="/static/images/vendor-5.png">
    <img width="300" height="300" src="/static/images/vendor-6.png">
    <img width="300" height="300" src="/static/images/vendor-7.png">
    <img width="300" height="300" src="/static/images/vendor-8.png">
</marquee>

<section class="cuisine">
    <h1>Services</h1>
    <div class="row">
        <div class="cuisine-col">
            <h3>Outstation Cabs</h3>
            <p>Whether it is a fun outing or a business trip, we have got you covered. Our curated travel plans are will help make your journey a special one. Instead of driving, spend some quality time with your travel companions while we take care of your travel needs. Our chauffeur driven cabs, top class travel recommendations and detailed guide on exploring local destination is all you need to enjoy every bit of your journey. In order to suit your every requirement, we offer two favors of King Car Rental for Outstation:
                1.Round Trip Car Rental
                2.One Way Car Rental</p>
        </div>
        <div class="cuisine-col">
            <h3>Local Taxi</h3>
            <p>It is always a great experience with <b>King</b> as we have been discovering ways to make it easier for you to get around! Spend an entire day exploring the different corners of the city. Hire a local taxi your for the whole day and you won't have to worry about getting from one place to another. We'll pick you up from the location of your choice and drop you back. We offer three flavors if you want to rent a car for Local use:
                Full day car rental for 8 hours
                Extended full day car rental for 12 hours
                Half day car rental for 4 hours</p>
        </div>
        <div class="cuisine-col">
            <h3>Book Safe and easy</h3>
            <p>There is always traffic when you’re in a hurry. Don’t wait until the last minute to book your cab, pre-book an airport taxi with King so you make it on time. We offer two flavours if you want to rent a car from all airports:

Pickup from choosen Airport
Drop to any Airport</p>
        </div>
    </div>
</section>

<section class="cta">
    <h1>Feel free to contact us and<br> clarify your doubts</h1>
    <a href="http://127.0.0.1:8000/contact/" class="hero-btn">CONTACT US</a>
</section>

<section class="footer">
    <p>We are happy beacause We make your drive memorable</p>
    <p>In the close proximity from our rentals you can enjoy a trip, tourist place.</p>
</section>
</body>
</html>

